<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day08</title>
    <style>
        li button {
            display: none;
        }
        
        li:hover button {
            display: inline;
        }
    </style>

</head>

<body>
    <div id="app">
        <p>
            <input type="text" v-model="inputText" @compositionstart="cstartHandler" @compositionend="cendHandler" @keyup.enter="inputHandler">
        </p>
        <p>
            <button @click="show='all'">全部</button>
            <button @click="show='open'">未完成</button>
            <button @click="show='done'">完成</button>
        </p>
        <ul>
            <li v-for="(item,index) of filterList" :key="item.timestamp"> <input type="checkbox" v-model="item.status">
                <template v-if="editing===item">
                    <input type="text" v-model="editingText">
                    <button @click="completeHandler">完成</button>
                    <button @click="cancelHandler">取消</button>
                </template>
                <template v-else> {{ item.content}} <button @click="editHandler(item)">修改</button>
                    <button @click="deleteHandler(item)">刪除</button>
                </template></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                inputText: "",
                list: [],
                compositionStatus: false,
                editing: null,
                editingText: "",
                show: "all",
            },
            computed: {
                filterList() {
                    //all,open,done
                    if (this.show === "all") {
                        return this.list
                    } else if (this.show === "open") {
                        return this.list.filter((item) => {
                            return item.status === false
                        })
                    } else if (this.show === "done") {
                        return this.list.filter((item) => {
                            return item.status === true
                        })
                    } else {
                        return []
                    }
                },
            },
            methods: {
                cstartHandler() {
                    this.compositionStatus = true
                },
                cendHandler() {
                    this.compositionStatus = false
                },
                inputHandler() {
                    if (this.compositionStatus) return false
                        // console.log("ininder")
                    this.list.push({
                        timestamp: new Date().getTime(),
                        status: false,
                        content: this.inputText,
                    })
                    this.inputText = ""
                },
                deleteHandler(item) {
                    // filter做法
                    this.list = this.list.filter((target) => {
                            return target != item
                        })
                        // this.list.splice(item, 1)
                },
                editHandler(item) {
                    this.editing = item
                    this.editingText = item.content
                },
                completeHandler() {
                    this.editing.content = this.editingText
                    this.cancelHandler()
                },
                cancelHandler() {
                    this.editingText = ""
                    this.editing = null
                },
            },
        })
    </script>
</body>

</html>